<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lk.dao.UserDao">

    <select id="selectCostInfoByMap" resultType="com.lk.bean.CostInfoDO" parameterType="java.util.Map">
        SELECT * FROM COST_INFO WHERE 1=1
        <if test="id !=null and id !=''">
           AND id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="costMoney !=null and costMoney !=''">
            AND costMoney = #{costMoney,jdbcType=NUMERIC}
        </if>
        <if test="costDescription !=null and costDescription !=''">
            AND costDescription = #{costDescription,jdbcType=VARCHAR}
        </if>
        <if test="costBeginTime !=null and costBeginTime !=''">
            AND costTime >= #{costBeginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="costEndTime !=null and costEndTime !=''">
            AND costTime  &lt;= #{costEndTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <update id="updateCostInfoByMap" parameterType="java.util.Map">
        UPDATE COST_INFO
        <set>
            <if test="costMoney !=null and costMoney !=''">
                costMoney = #{costMoney,jdbcType=NUMERIC},
            </if>
            <if test="costDescription !=null and costDescription !=''">
                costDescription =  #{costDescription,jdbcType=VARCHAR},
            </if>
            <if test="costTime !=null and costTime !=''">
                AND costTime = #{costTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>